<mat-card>
    <mat-card-content>
      <section>
        <mat-form-field>
          <input matInput placeholder="First name" name="name" [(ngModel)]="name">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Address" name="address" [(ngModel)]="address">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Phone" name="phone" [(ngModel)]="phone">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="City" [(ngModel)]="city" name="city">
            <mat-option *ngFor="let cidade of cities" [value]="cidade.name">{{cidade.name}} - {{cidade.State}}</mat-option>
            <!--o biding [value] é o que vai ser passado do item da lista que for selecionado para o objeto cidade.name-->
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" name="age" [(ngModel)]="age">
        </mat-form-field>
      </section>
    </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">save</button>
    <button mat-raised-button color="warn" (click)="cancel">cancel</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="clients.length > 0">
  <mat-card-content>
    <section>
      <mat-list>
        <h3 matHeader>Clients</h3>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let client of clients; let i=index">
          <mat-icon matListIcon>person</mat-icon>
          <h2 matLine>Name: {{client.name}}</h2>
          <h2 matLine>Address: {{client.address}}</h2>
          <h2 matLine>Phone: {{client.phone}}</h2>
          <h2 matLine>Age: {{client.age}}</h2>
          <h2 matLine>City: {{client.city}}</h2>
          <button mat-icon-button color="accent" (click)="delete(i)">
            <!--botão de deletar onde ele tá passando o índice do array-->
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </section>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
