<!--
<mat-form-field appearance="fill">
  <mat-label>Toppings</mat-label>
  <input type="text"
         placeholder="Selecione uma opção"
         aria-label="Selecione uma opção"
         matInput
         [formControl]="toppings"
         [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let topping of toppingListTeste | async" [value]="topping">{{topping}}</mat-option>
  </mat-autocomplete>
  <mat-select [formControl]="toppings" multiple>
    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
  </mat-select>
</mat-form-field>
-->
<!--
<mat-form-field>
  <mat-label>Selecione uma opção</mat-label>
  <mat-select [formControl]="myControl"
              (openedChange)="onSelectOpened()"
              (closed)="onSelectClosed()">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete"
                  (optionSelected)="onOptionSelected($event)">
  <mat-option *ngFor="let option of filteredOptions | async"
              [value]="option">
    {{ option.label }}
  </mat-option>
</mat-autocomplete>
-->
<mat-form-field>
  <mat-label>Selecione uma opção</mat-label>
  <input matInput
         [matAutocomplete]="auto"
         [formControl]="searchControl">
  <mat-autocomplete #auto="matAutocomplete"
                    (optionSelected)="onOptionSelected($event)" multiple>
    <mat-option *ngFor="let option of filteredOptions | async"
                [value]="option">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-form-field>
  <mat-label>Opções</mat-label>
  <mat-select [formControl]="myControl">
    <mat-option *ngFor="let option of options" [value]="option">
      {{ option.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
