<h3>{{title}}</h3>
<div class="horizontal-butons">
  <button mat-raised-button color="primary" (click)="plusOneClinck()">
    <mat-icon>exposure_plus_1</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="plusTwoClinck()">
    <mat-icon>exposure_plus_2</mat-icon>
  </button>
  <button mat-raised-button color="primary" (click)="eventInc()">
    <mat-icon>exposure_plus_2</mat-icon>
    Inc
  </button>
  <button mat-raised-button color="warn" (click)="minusOneClick()">
    <mat-icon>exposure_neg_1</mat-icon>
  </button>
  <button mat-raised-button color="warn" (click)="minutsTwoClick()">
    <mat-icon>exposure_neg_2</mat-icon>
  </button>
</div>
