<!--<app-property-binding></app-property-binding>-->

<!--<app-event-binding></app-event-binding>-->

<!--<app-two-way-data-binding></app-two-way-data-binding>-->

<!--<app-ng-style></app-ng-style>-->

<!--<app-ng-class></app-ng-class>-->

<!--<app-ng-if></app-ng-if>-->

<!--<app-ng-for></app-ng-for>-->

<!--<app-ng-for-form></app-ng-for-form>-->

<!--<app-ng-switch></app-ng-switch>-->

<!--<app-ng-template></app-ng-template>-->

<!--<app-ng-container></app-ng-container>-->

<!--<app-ng-content>
  <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
  <p>One more beer, please!</p>
</app-ng-content>-->

<!--
<app-input-biding name="Bob" lastName="March" ></app-input-biding>
&lt;!&ndash;é possível passar propertybiding também com atributo(variável ou objeto) por meio do [propertybiding]="atributo/objeto"&ndash;&gt;
-->

<!--<app-event></app-event>-->
<!--
<app-clients></app-clients>
-->

<!--
<mat-slide-toggle #toggle1>Component1</mat-slide-toggle>
<mat-slide-toggle #toggle2>Component2</mat-slide-toggle>
<mat-slide-toggle #toggle3>Component3</mat-slide-toggle>
<mat-slide-toggle #toggle4>Component4</mat-slide-toggle>

<app-component1 *ngIf="toggle1.checked"></app-component1>
<app-component2 *ngIf="toggle2.checked"></app-component2>
<app-component3 *ngIf="toggle3.checked"></app-component3>
<app-component4 *ngIf="toggle4.checked"></app-component4>
--><!--Falta voltar a essa aula pra continuar os estudos dos services-->

<!--<app-subjects></app-subjects>--> <!--Subjects importantíssimo o entendimento do funcionamento-->
<app-matselect></app-matselect>
